<div class="w-50 mx-auto mt-3">
  <div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/color/96/angularjs.png"
        alt="logo"
      />
      <h4>Welcome <span class="fw-bold text-primary"> Ozodbek </span></h4>
    </div>

    <div class="d-flex justify-content-around p-3">
      <div class="score">
        <h5>20 points</h5>
      </div>
      <div class="queastion-remain">Questions 1 of 4</div>

      <div class="timer">
        <h5>60 sec
            <i class="fa fa-cog fa-spin"></i>
        </h5>
      </div>
    </div>
  </div>
</div>
