<div class="w-50 mx-auto  ">
  <div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
      <img
        width="80"
        height="80"
        src="https://img.icons8.com/color/96/angularjs.png"
        alt="logo"
      />
      <h4> Welcome <span class="fw-bold text-primary"> {{ name }} </span></h4>
    </div>

    <div class="d-flex justify-content-around p-3">
      <div class="score">
        <h5>{{ counter}} points</h5>
      </div>
      <div class="queastion-remain">Questions {{ currentQuestion+1}} of {{ questionList.length }}</div>

      <div class="timer">
        <h5>
          60 sec
          <i class="fa fa-cog fa-spin"></i>
        </h5>
      </div>
    </div>
    <div class="progress mx-3 my-3">
      <div
        class="progress-bar progress-bar-striped bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>

    <div class="question mx-3">
      <div class="card">
        <h3 class="text-center"> {{ questionList[currentQuestion]?.questionText}} </h3>
      </div>
    </div>

    <div class="options mx-3 my-3">
        <ol class="list-group " *ngFor="let option of questionList[currentQuestion]?.options">
            <li class="list-group-item fw-bold"> {{ option.text}} </li>
          </ol>
    </div>

    <div class="d-flex justify-content-between">
        <button [disabled]="currentQuestion == 0" (click)="previousQuestion()" class="btn"><i class="fa fa-chevron-left fa-3x text-primary"></i></button>
        <button class="btn"><i class="fa fa-refresh fa-3x text-primary"></i></button>
        <button [disabled]="currentQuestion == questionList.length-1" (click)="nextQuestion()" class="btn"><i class="fa fa-chevron-right fa-3x text-primary"></i></button>
    </div>



  </div>
</div>
