
<div class="w-50 mx-auto p-5 welcome mt-3">
    <h1 class="display-6 fw-bold text-center"> welcome To Quiz Game </h1>
    <h4 class="text-light fw-bold">Rules</h4>
     
    <ul class="list-group list-group-flush rules">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>

</div>